In [1]:
import numpy as np
import pandas as pd

In [2]:
skytracks_data = pd.read_csv('./data/data.csv')
seatguru_data = pd.read_csv('./data/seatguru_data.csv')

In [3]:
skytracks_data.head()

,date,verified,review_title,review_comment,type_of_traveler,start_point,end_point,date_of_flight,overall_rating,recommended,seat_comfort,cabin_staff_service,food_beverages,ground_service,value_for_money,flight_company,airplane_model
0,2020-01-25,True,"""will never fly American again""",Greensboro to Las Vegas via Charlotte. I wil...,Business,Greensboro,Las Vegas via Charlotte,January 2020,1.0,no,1.0,1.0,1.0,1.0,1.0,american-airlines,NaN
1,2020-01-25,False,"""just comfortable enough""",Not Verified | Tokyo to Dallas. I was dreadin...,Solo Leisure,Tokyo,Dallas,January 2020,8.0,yes,3.0,4.0,4.0,4.0,4.0,american-airlines,Boeing 777-200
2,2020-01-24,True,"""never fly with them again""",Providence to Tucson via Chicago. American A...,Solo Leisure,Providence,Tucson via Chicago,January 2020,1.0,no,1.0,1.0,1.0,1.0,1.0,american-airlines,NaN
3,2020-01-24,False,"""Horrible customer service""",Not Verified | Philadelphia to Boston. Horrib...,Business,Philadelphia,Boston,December 2019,1.0,no,1.0,1.0,1.0,1.0,1.0,american-airlines,NaN
4,2020-01-23,True,"""missed my connecting flight""",Houston to Dallas. I had departed from Ameri...,Solo Leisure,Houston,Dallas,January 2020,4.0,no,2.0,3.0,3.0,1.0,1.0,american-airlines,NaN

In [4]:
seatguru_data.tail()

,date,comment,flight_company,airplane_model
17716,2017/02/18,There's only 1 half window for this sest (wind...,Wizzair,Wizz_Air_Airbus_A321
17717,2016/09/14,"None of the seats recline, however, this is a ...",Wizzair,Wizz_Air_Airbus_A321
17718,2017/08/15,Rather comfy despite it being listed at 17 inc...,Xiamen_Airlines,Xiamen_Airlines_Boeing_787-8
17719,2019/06/16,I was very satisfied with my flight. The Fligh...,Xiamen_Airlines,Xiamen_Airlines_Boeing_787-9
17720,2018/08/16,AMS-XIA in May 2018 (codeshare KLM-Xiamenair)....,Xiamen_Airlines,Xiamen_Airlines_Boeing_787-9

In [5]:
np_fin = skytracks_data['review_comment'].to_numpy()
np_fin2 = seatguru_data['comment'].to_numpy()

np_company = skytracks_data['flight_company'].to_numpy()
np_company2 = seatguru_data['flight_company'].to_numpy()

In [6]:
np_company = [string.replace("-", "_").lower() for string in np_company]

In [7]:
np_company2 = [string.lower() for string in np_company2]

In [8]:
data = np.concatenate([np_fin, np_fin2])
data_company = np.concatenate([np_company, np_company2])

In [9]:
final_df = pd.DataFrame(data, columns = ['review_comment'])

In [10]:
final_df['airline'] = data_company

In [11]:
len(data_company)

29956

In [12]:
len(data)

29956

In [13]:
final_df.head()

                                      review_comment            airline
0    Greensboro to Las Vegas via Charlotte. I wil...  american_airlines
1  Not Verified |  Tokyo to Dallas. I was dreadin...  american_airlines
2    Providence to Tucson via Chicago. American A...  american_airlines
3  Not Verified |  Philadelphia to Boston. Horrib...  american_airlines
4    Houston to Dallas. I had departed from Ameri...  american_airlines

In [14]:
final_df.tail()

                                          review_comment          airline
29951  There's only 1 half window for this sest (wind...          wizzair
29952  None of the seats recline, however, this is a ...          wizzair
29953  Rather comfy despite it being listed at 17 inc...  xiamen_airlines
29954  I was very satisfied with my flight. The Fligh...  xiamen_airlines
29955  AMS-XIA in May 2018 (codeshare KLM-Xiamenair)....  xiamen_airlines

In [41]:
final_df.to_csv('./data/final_starting_data.csv') ## this is the final

In [42]:
df = pd.read_csv('./data/final_starting_data.csv')

In [43]:
df.head()

,Unnamed: 0,review_comment,airline
0,0,Greensboro to Las Vegas via Charlotte. I wil...,american_airlines
1,1,Not Verified | Tokyo to Dallas. I was dreadin...,american_airlines
2,2,Providence to Tucson via Chicago. American A...,american_airlines
3,3,Not Verified | Philadelphia to Boston. Horrib...,american_airlines
4,4,Houston to Dallas. I had departed from Ameri...,american_airlines

In [32]:
american_df = final_df[final_df.airline == 'american_airlines']

In [38]:
american_df.head()

                                      review_comment
0    Greensboro to Las Vegas via Charlotte. I wil...
1  Not Verified |  Tokyo to Dallas. I was dreadin...
2    Providence to Tucson via Chicago. American A...
3  Not Verified |  Philadelphia to Boston. Horrib...
4    Houston to Dallas. I had departed from Ameri...

In [37]:
american_df = american_df.drop(['airline'], axis = 1)

In [39]:
american_df.to_csv('./data/american_airlines_data.csv')